%h1
  Dropzone
  %small An inbox for your Dropbox

-if !session[:registered] # if the user isn't registered
  %form.form-horizontal{action: "/", method: "post"}
    .form-group{class: @errors[:username] ? "has-error" : ""}
      .col-sm-6
        -if request.host
          .input-group
            %span.input-group-addon #{request.host}/
            %input#username.form-control(placeholder="your_username_here" name="username" type="text" value="#{params['username']}")
        -else
          %input#username.form-control(placeholder="your_username_here" name="username" type="text" value="#{params['username']}")
      - if @errors[:username]
        .col-sm-6.text-danger= @errors[:username]
    -if @require_registration_password
      .form-group{class: @errors[:registration_password] ? "has-error" : ""}
        .col-sm-6
          %input.form-control(placeholder="Registration password" name="registration_password" type="text")
        - if @errors[:registration_password]
          .col-sm-6.text-danger= @errors[:registration_password]
    .form-group
      .col-sm-4
        %button.btn.btn-success(type='submit' title="links with Dropbox") link with Dropbox
    - if @errors[:general]
      .bg-danger= @errors[:general]
-else
  %p.text-success You're registered!
  %p
    -url = url('/') + session[:username] if session[:username]
    %a{href: url}=url

.clearfix

.row
  .col-sm-8
    %p
      By visiting
      -if url
        %a{href: url}your personal Dropzone url,
      -else
        your personal Dropzone,
      non-Dropbox users will be able to upload files straight into a special 'inbox' folder in your Dropbox.
    %p This is also quite handy if you need to send yourself a file from someone else's computer but don't want to log into email or remember a tinyurl.
    %p Public dropzones can be optionally passphrase protected.
